[submodule "gunicorn/codebase"]
	path = gunicorn/codebase
	url = https://github.com/cy-suite/gunicorn.git
[submodule "open-webui/codebase"]
	path = open-webui/codebase
	url = https://github.com/cy-suite/open-webui.git
